In [1]:
import numpy as np
import pandas as pd
#import yahoo_fin.stock_info as info
import datetime

DF = pd.concat([stoxx600, ftse350])

DF = DF.reset_index()

DF = DF.drop("index", axis = 1)

DF.duplicated(subset = ["TICKER", "date"]).sum()

DF = DF.drop_duplicates(subset = ["PERMNO", "date"] )

DF = DF.drop("COMNAM", axis = 1)

TICKERS = DF["TICKER"].unique()

TICKERS = TICKERS.tolist()

DATES = DF["date"].unique()
DATES = DATES.tolist()

DF = DF.set_index("date")

hier_index = list(zip(TICKERS,DATES))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
ticks.to_excel("ticks tot.xlsx", index = False)

In [ ]:
ticks.nunique()

In [2]:
#will5000 = pd.read_csv("Will5000.csv")

In [3]:
#russell3000 = pd.read_csv("295c8ea4dc241cd4.csv")

In [4]:
#DF = pd.concat([will5000, russell3000])

In [2]:
DF = pd.read_csv("208fe21cc14c14d3.csv")

In [3]:
DF["PERMNO"].nunique()

4798

In [4]:
DF.isnull().sum()

PERMNO         0
date           0
TICKER    224388
COMNAM       190
PRC       228087
VOL       228096
dtype: int64

In [5]:
DF= DF[DF["VOL"] != 0]
DF = DF[DF["PRC"] >= 0]

In [6]:
DF = DF.drop_duplicates(subset = ["TICKER", "date"])

In [7]:
DF["date"] = DF["date"].astype(str)

In [8]:
DF["date"] = pd.to_datetime(DF["date"])

In [30]:
#russell3000["year"] = russell3000["dated"].apply(lambda time: time.year)
#russell3000["month"] = russell3000["dated"].apply(lambda time: time.month)
#russell3000["day"] = russell3000["dated"].apply(lambda time: time.day)

In [9]:
DF.duplicated(subset = ["TICKER", "date"]).sum()

0

In [10]:
DF.duplicated(subset = ["PERMNO", "date"]).sum()

0

In [11]:
DF["TICKER"].nunique()

5260

In [12]:
DF = DF.set_index(["TICKER", "date"])

usable = DF.drop(["PERMNO", "COMNAM", "VOL"], axis = 1)

In [2]:
def get_SMA(data, column, period):
    SMA = data[column].groupby(level=0, group_keys=False).rolling(period).mean()
    return SMA

In [3]:
def get_EMA(data, column, period):
    EMA = data[column].unstack(0).ewm(span= period, adjust = False).mean().stack().swaplevel(0, 1).sort_index()
    return EMA

In [15]:
DF["SMA_5"] = get_SMA(DF, "PRC", 5)
DF["SMA_15"] = get_SMA(DF, "PRC", 15)
DF["SMA_30"] = get_SMA(DF, "PRC", 30)

In [16]:
DF["EMA_5"] = get_EMA(DF, "PRC", 5)
DF["EMA_15"] = get_EMA(DF, "PRC", 15)
DF["EMA_30"] = get_EMA(DF, "PRC", 30)

accounting = pd.read_csv("Accounting DATA.csv")

accounting["TICKER"].nunique()

accounting.drop("datacqtr", axis = 1, inplace = True)

accounting = accounting[accounting["datafqtr"] != "1998Q4"]

for col in accounting.columns:
    if accounting[col].isnull().sum() >= 100000:
        accounting = accounting.drop(col, axis = 1)

accounting.to_csv("Accounting DATA.csv", index = False)

In [17]:
accounting = pd.read_csv("Accounting DATA.csv")

In [18]:
for col in accounting.columns:
    if accounting[col].nunique() == 1:
         accounting = accounting.drop(col, axis = 1)

In [104]:
accounting = accounting.set_index(["TICKER", "date"])

In [20]:
accounting.columns

Index(['gvkey', 'fyearq', 'fqtr', 'curcdq', 'datafqtr', 'actq', 'atq', 'cheq',
       'cogsq', 'cshoq', 'dlttq', 'epspxq', 'icaptq', 'invtq', 'lctq', 'ltq',
       'niq', 'oiadpq', 'rectq', 'revtq', 'saleq', 'teqq', 'wcapq', 'xintq',
       'intpny', 'oancfy', 'costat', 'dvpspq'],
      dtype='object')

In [21]:
accounting["current_ratio"] = accounting["actq"] / accounting["lctq"]

In [22]:
accounting["acidtest_ratio"] = (accounting["actq"] - accounting["invtq"])  / accounting["lctq"]

In [23]:
accounting["cash_ratio"] = accounting["cheq"]  / accounting["lctq"]

In [24]:
accounting["operatingCF_ratio"] = accounting["oancfy"]  / accounting["lctq"]

In [25]:
accounting["debt_ratio"] = accounting["atq"] /accounting["ltq"]

In [105]:
accounting["D_to_E_ratio"] = accounting["ltq"] /accounting["teqq"]

In [106]:
accounting["LTD_to_E_ratio"] = accounting["dlttq"] /accounting["teqq"]

In [107]:
accounting["LTD_to_A_ratio"] = accounting["dlttq"] /accounting["teqq"]

In [29]:
accounting["interest_c_ratio"] = accounting["oiadpq"] /accounting["xintq"]

In [30]:
accounting["asset_turnover_ratio"] = accounting["revtq"]/accounting["atq"]

In [31]:
accounting["inventory_turnover_ratio"] = accounting["cogsq"]/accounting["invtq"]

In [32]:
accounting["recievables_turnover_ratio"] = accounting["saleq"]/accounting["rectq"]

In [33]:
accounting["DIO"] = 365/accounting["inventory_turnover_ratio"]

In [34]:
accounting["DSO"] = 365/accounting["recievables_turnover_ratio"]

In [35]:
accounting["gross_margin_ratio"] = (accounting["revtq"]-accounting["cogsq"])/accounting["saleq"]

In [36]:
accounting["operating_margin_ratio"] = accounting["oiadpq"]/accounting["saleq"]

In [37]:
accounting["ROA"] = accounting["niq"]/accounting["atq"]

In [108]:
accounting["ROE"] = accounting["niq"]/accounting["teqq"]

In [39]:
accounting["ROIC"] = accounting["niq"]/accounting["icaptq"]

In [109]:
accounting["book_to_share_ratio"] = accounting["teqq"]/accounting["cshoq"]

#to calculate when we reassign the share price
#keep DIV per share
accounting["dividend_yield"]
accounting["price_earning_ratio"]

In [41]:
accounting["earning_per_share"] = accounting["niq"]/accounting["cshoq"]

In [4]:
def get_MACD(data, longMA, shortMA):
    MACD = data[shortMA] - data[longMA]
    return MACD

In [5]:
DF["S_MACD"] = get_MACD(DF, "SMA_30", "SMA_5")
DF["E_MACD"] = get_MACD(DF, "EMA_30", "EMA_5")

NameError: name 'DF' is not defined

In [44]:
DF["max14"] = DF["PRC"].groupby(level=0, group_keys=False).rolling(14).min()
DF["min14"] = DF["PRC"].groupby(level=0, group_keys=False).rolling(14).max()

In [47]:
DF["stochastic_%K"] = (DF["PRC"]-DF["min14"])/(DF["max14"]-DF["min14"])

In [52]:
DF["stochastic_%D"] = get_SMA(DF, "stochastic_%K", 3)

In [112]:
accounting.to_csv("acc_data_complete.csv")

In [56]:
DF.to_csv("tech_data.csv")

In [6]:
DF = pd.read_csv("tech_data.csv", index_col = ["TICKER", "date"])

In [7]:
def get_MAX(data, column, period):
    MAX = data[column].groupby(level=0, group_keys=False).rolling(period).max()
    return MAX

In [8]:
def get_MIN(data, column, period):
    MIN = data[column].groupby(level=0, group_keys=False).rolling(period).min()
    return MIN

In [9]:
DF.drop(["max14", "min14"], axis = 1, inplace = True)

In [10]:
DF["MAX_5"] = get_MAX(DF, "PRC", 5)
DF["MAX_15"] = get_MAX(DF, "PRC", 15)
DF["MAX_30"] = get_MAX(DF, "PRC", 30)

In [11]:
DF["MIN_5"] = get_MIN(DF, "PRC", 5)
DF["MIN_15"] = get_MIN(DF, "PRC", 15)
DF["MIN_30"] = get_MIN(DF, "PRC", 30)

In [12]:
DF["true_range"] = DF["PRC"].groupby(level = 0, group_keys = False).diff()

In [13]:
DF["ATR_5"] = get_SMA(DF, "true_range", 5)
DF["ATR_15"] = get_SMA(DF, "true_range", 15)
DF["ATR_30"] = get_SMA(DF, "true_range", 30)

In [14]:
DF["norm_ATR_5"] = DF["ATR_5"]/DF["PRC"]*100
DF["norm_ATR_15"] = DF["ATR_15"]/DF["PRC"]*100
DF["norm_ATR_30"] = DF["ATR_30"]/DF["PRC"]*100

In [15]:
DF["momentum_5"] = DF["PRC"].groupby(level = 0, group_keys = False).diff(5)
DF["momentum_15"] = DF["PRC"].groupby(level = 0, group_keys = False).diff(15)
DF["momentum_30"] = DF["PRC"].groupby(level = 0, group_keys = False).diff(30)

In [16]:
DF["ROC_5"] = DF["PRC"].groupby(level=0, group_keys=False).pct_change(5)
DF["ROC_15"] = DF["PRC"].groupby(level=0, group_keys=False).pct_change(15)
DF["ROC_30"] = DF["PRC"].groupby(level=0, group_keys=False).pct_change(30)

In [17]:
DF["return"] = DF["PRC"].groupby(level=0, group_keys=False).pct_change()

In [18]:
def computeRSI (data, col, period):
    diff = data[col].groupby(level=0, group_keys=False).diff(1) # diff in one field(one day)

    #this preservers dimensions off diff values
    up_chg = 0 * diff
    down_chg = 0 * diff
    
    # up change is equal to the positive difference, otherwise equal to zero
    up_chg[diff > 0] = diff[ diff>0 ]
    
    # down change is equal to negative deifference, otherwise equal to zero
    down_chg[diff < 0] = diff[ diff < 0 ]

    # values are related to exponential decay
    # we set com=time_window-1 so we get decay alpha=1/time_window
    up_chg_avg   = up_chg.ewm(com=period-1 , min_periods=period).mean()
    down_chg_avg = down_chg.ewm(com=period-1 , min_periods=period).mean()
    
    rs = abs(up_chg_avg/down_chg_avg)
    rsi = 100 - 100/(1+rs)
    return rsi

In [19]:
DF["RSI_5"] = computeRSI(DF,"PRC", 5)
DF["RSI_15"] = computeRSI(DF,"PRC", 15)
DF["RSI_30"] = computeRSI(DF,"PRC", 30)

In [20]:
DF["std_5"]= DF["return"].groupby(level=0, group_keys=False).rolling(window = 5).std()
DF["std_15"]= DF["return"].groupby(level=0, group_keys=False).rolling(window = 15).std()
DF["std_30"]= DF["return"].groupby(level=0, group_keys=False).rolling(window = 30).std()

In [22]:
DF.dropna(inplace = True)

In [25]:
DF

                   PERMNO           COMNAM        PRC         VOL       SMA_5  \
TICKER date
EWST   1999-03-03   10001  ENERGY WEST INC    9.00000      1666.0    8.775000
       1999-03-04   10001  ENERGY WEST INC    9.00000       100.0    8.825000
       1999-03-08   10001  ENERGY WEST INC    9.00000      6300.0    8.875000
       1999-03-09   10001  ENERGY WEST INC    9.00000      6300.0    8.900000
       1999-03-10   10001  ENERGY WEST INC    9.00000      6243.0    9.000000
...                   ...              ...        ...         ...         ...
TSLA   2019-12-24   93436        TESLA INC  425.25000   8186207.0  409.450000
       2019-12-26   93436        TESLA INC  430.94000  10617605.0  417.008002
       2019-12-27   93436        TESLA INC  430.38000   9936455.0  422.276000
       2019-12-30   93436        TESLA INC  414.70001  12563586.0  424.098002
       2019-12-31   93436        TESLA INC  418.32999  10264766.0  423.920000

                       SMA_15      SMA_30       EMA_5      EMA_15      EMA_30  \
TICKER date
EWST   1999-03-03    9.008333    9.479167    8.814323    9.010319    9.242117
       1999-03-04    8.975000    9.445833    8.876215    9.009029    9.226497
       1999-03-08    8.925000    9.412500    8.929266    9.007762    9.210946
       1999-03-09    8.908333    9.387500    8.952844    9.006791    9.197336
       1999-03-10    8.916667    9.362500    8.968563    9.005943    9.184605
...                       ...         ...         ...         ...         ...
TSLA   2019-12-24  371.078001  357.029667  409.216112  381.127231  358.895577
       2019-12-26  377.605334  359.730001  416.457408  387.353827  363.543604
       2019-12-27  384.272667  362.539001  421.098272  392.732099  367.855630
       2019-12-30  389.526667  364.717335  418.965518  395.478088  370.877848
       2019-12-31  394.780000  366.922667  418.753675  398.334576  373.939276

                   ...     ROC_5    ROC_15    ROC_30    return      RSI_5  \
TICKER date        ...
EWST   1999-03-03  ...  0.028571 -0.064935 -0.052632  0.058824  55.402847
       1999-03-04  ...  0.028571 -0.052632 -0.100000  0.000000  55.402847
       1999-03-08  ...  0.028571 -0.076923 -0.100000  0.000000  55.402847
       1999-03-09  ...  0.014085 -0.027027 -0.076923  0.000000  55.402847
       1999-03-10  ...  0.058824  0.014085 -0.076923  0.000000  55.402847
...                ...       ...       ...       ...       ...        ...
TSLA   2019-12-24  ...  0.122061  0.264872  0.232287  0.014384  95.651111
       2019-12-26  ...  0.096121  0.293998  0.231503  0.013380  96.295249
       2019-12-27  ...  0.065192  0.302721  0.243478 -0.001299  94.571998
       2019-12-30  ...  0.022461  0.234630  0.187062 -0.036433  58.150133
       2019-12-31  ... -0.002123  0.232086  0.187864  0.008753  62.346499

                      RSI_15     RSI_30     std_5    std_15    std_30
TICKER date
EWST   1999-03-03  46.257172  45.943004  0.036260  0.038385  0.036078
       1999-03-04  46.257172  45.943004  0.036260  0.038309  0.034622
       1999-03-08  46.257172  45.943004  0.036260  0.037468  0.034622
       1999-03-09  46.257172  45.943004  0.036023  0.035180  0.034372
       1999-03-10  46.257172  45.943004  0.026307  0.033462  0.034372
...                      ...        ...       ...       ...       ...
TSLA   2019-12-24  83.552058  76.198556  0.013979  0.020206  0.022250
       2019-12-26  84.463295  76.917064  0.011947  0.018979  0.022243
       2019-12-27  83.972730  76.681387  0.013368  0.018408  0.022041
       2019-12-30  71.512362  70.430567  0.026137  0.023162  0.023451
       2019-12-31  72.523647  70.996774  0.021162  0.023191  0.023453

[15057079 rows x 40 columns]

In [3]:
accounting = pd.read_csv("acc_data_complete.csv", index_col = ["TICKER", "date"])

In [4]:
accounting.reset_index(inplace = True)

In [5]:
accounting.drop("intpny", axis = 1, inplace = True)

In [6]:
usable = []
for tick in accounting["TICKER"].unique():
    d = accounting[accounting["TICKER"] == tick].isna().sum().sum()
    if d <= 200:
        usable.append(tick)

In [7]:
len(usable)

1691

In [10]:
accounting = accounting[accounting["TICKER"].isin(usable)]

In [128]:
DF = DF[DF["TICKER"].isin(usable)]

In [130]:
DF.reset_index(drop = True, inplace = True)

In [132]:
DF.to_csv("tech_data_v2.csv", index = False)

In [3]:
DF = pd.read_csv("tech_data_v2.csv")

In [13]:
accounting = accounting[accounting["TICKER"].isin(DF["TICKER"].unique())]

In [16]:
accounting.set_index(["TICKER", "date"], inplace =True)

In [17]:
accounting.to_csv("acc_data_complete.csv")

In [4]:
accounting = pd.read_csv("acc_data_complete.csv", index_col = ["TICKER", "date"])

In [5]:
DF.set_index(["TICKER", "date"], inplace =True)

In [6]:
accounting["costat"] = pd.get_dummies(accounting["costat"])

In [7]:
def impute_null(df):
    """
    impute the NaN Values in the middle and at the end
    Middle: average of last available value and next available
    End: last available value
    """
    df = df.where(df.notnull(), other=(df.fillna(method='ffill')+df.fillna(method='bfill'))/2)
    if df[len(df)//2 :].isna().any().any() == True:
        df[len(df)//2 :] = df[len(df)//2 :].fillna(method = "ffill")
    return df

In [8]:
acc_trunc = accounting.loc[:, "actq":]

In [9]:
for key in acc_trunc.reset_index()["TICKER"].unique():
    globals()[f'{key}'] = acc_trunc.loc[key]

In [10]:
for key in acc_trunc.reset_index()["TICKER"].unique():
    globals()[f'{key}'] = impute_null(globals()[f'{key}'])

In [11]:
for key in acc_trunc.reset_index()["TICKER"].unique():
    globals()[f'{key}'] = globals()[f'{key}'].replace(np.nan, 0)

In [12]:
for key in acc_trunc.reset_index()["TICKER"].unique():
    globals()[f'{key}']["ticker"] = f"{key}"

In [13]:
new_acc = pd.DataFrame()
for key in acc_trunc.reset_index()["TICKER"].unique():
    new_acc = new_acc.append(globals()[f'{key}'])

In [14]:
new_acc = new_acc.reset_index().set_index(["ticker", "date"])

In [15]:
accounting.loc[:, "actq":] = new_acc

C:\Users\HP\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2867: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)

In [16]:
for key in accounting.reset_index()["TICKER"].unique():
    globals()[f'{key}'] = accounting.loc[key]

In [17]:
for key in accounting.reset_index()["TICKER"].unique():
    globals()[f'{key}']["datafqtr"] = globals()[f'{key}']["datafqtr"].shift(1)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
for key in acc_trunc.reset_index()["TICKER"].unique():
    globals()[f'{key}']["ticker"] = f"{key}"

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
acc = pd.DataFrame()
for key in accounting.reset_index()["TICKER"].unique():
    acc = acc.append(globals()[f'{key}'])

In [20]:
acc = acc.reset_index().set_index(["ticker", "date"])

In [ ]:
accounting.to_csv("acc_data_complete.csv")

In [4]:
accounting = pd.read_csv("acc_data_complete.csv")

In [6]:
tics = DF["TICKER"].unique()

In [9]:
tics = pd.Series(tics)

In [10]:
tics.to_csv("tics_)last.csv")

In [5]:
sic = pd.read_csv("dd7c4dc33d1e2eb6.csv")

C:\Users\HP\Anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
sic = sic.drop_duplicates(subset = ["SICCD", "PERMNO", "TICKER"])

In [7]:
sic.drop("date", axis = 1, inplace = True)

In [8]:
sic.reset_index(drop = True, inplace = True)

In [9]:
sic = sic.drop_duplicates(subset = ["SICCD", "PERMNO"])

In [10]:
sic.drop("HSICIG", axis = 1, inplace = True)

In [11]:
sic.drop_duplicates("TICKER", keep ="last", inplace = True)

In [12]:
sic.drop("PERMNO", axis = 1, inplace = True)

In [13]:
DF_1 = pd.merge(DF, sic, on = "TICKER", how = "left")

In [14]:
DF_1["date"] = pd.to_datetime(DF_1["date"])

In [15]:
DF_1["quarter"] = DF_1["date"].dt.quarter

In [16]:
DF_1["quarter"] = "Q" + DF_1["quarter"].astype(str)

In [17]:
DF_1["quarter"] =DF_1["date"].dt.year.astype(str)+ DF_1["quarter"]

In [18]:
DF_1["quarter"]

0          2009Q3
1          2009Q3
2          2009Q3
3          2009Q3
4          2009Q3
            ...
7022706    2019Q4
7022707    2019Q4
7022708    2019Q4
7022709    2019Q4
7022710    2019Q4
Name: quarter, Length: 7022711, dtype: object

In [19]:
accounting = accounting[~accounting["datafqtr"].isna()]

In [20]:
DF_1["SICCD"].fillna(0, inplace = True)

In [21]:
DF_1["ticker"] = DF_1["TICKER"]

In [22]:
DF_1["datafqtr"] = DF_1["quarter"]

In [24]:
DF_1.drop(["TICKER", "quarter"], axis = 1, inplace = True)

In [25]:
accounting.drop(["date", "fyearq", "fqtr", "curcdq"], axis = 1, inplace = True)

In [26]:
DF_2 = pd.merge(DF_1, accounting, how = "left", on = ["ticker", "datafqtr"])

In [32]:
DF_2.dropna(inplace = True)

In [2]:
DF_2.to_csv("final_data.csv", index = False)

NameError: name 'DF_2' is not defined

In [3]:
DF = pd.read_csv("final_data.csv")

In [6]:
DF = DF.set_index(["ticker", "date"])

In [17]:
DF["datafqtr"] = DF["datafqtr"].astype("category")

In [ ]:
DF["SICCD"] = DF["SICCD"].astype("category")

In [ ]:
for key in DF.reset_index()["ticker"].unique():
    globals()[f'{key}'] = DF.loc[key]

In [ ]:
for tic in DF.reset_index()["ticker"].unique():
    globals()[f'{tic}']["next"] = globals()[f'{tic}']["PRC"].shift(-1)

In [ ]:
for key in DF.reset_index()["ticker"].unique():
    globals()[f'{key}']["ticker"] = f"{key}"

In [ ]:
DF_1 = pd.DataFrame()
for tic in DF.reset_index()["ticker"].unique():
    DF_1 = DF_1.append(globals()[f'{tic}'])

In [29]:
DF_1.to_csv("final_data.csv")

In [2]:
DF = pd.read_csv("final_data.csv")

In [10]:
DF["tic"] = DF["ticker"]

In [11]:
DF = DF.set_index(["ticker", "date"])

In [5]:
DF = DF.drop(["interest_c_ratio", "inventory_turnover_ratio" ], axis = 1)

In [16]:
DF["SICCD"] = DF["SICCD"].astype("category")
DF["gvkey"] = DF["gvkey"].astype("category") 
DF["datafqtr"] = DF["datafqtr"].astype("category")
DF["tic"] = DF["tic"].astype("category")
DF["PERMNO"] = DF["PERMNO"].astype("category")

In [17]:
DF["SICCD"] = DF["SICCD"].cat.codes
DF["gvkey"] = DF["gvkey"].cat.codes 
DF["datafqtr"] = DF["datafqtr"].cat.codes
DF["PERMNO"] = DF["PERMNO"].cat.codes

In [18]:
DF.drop("COMNAM", axis = 1, inplace = True)

In [ ]:
DF.to_csv("final_data.csv")